.banner-div {
    position: relative;
}

.btn-explor {
    background: linear-gradient(270deg, hsl(0, 100%, 60%) 0%, #fd8636 100%);
    border-radius: 10px;
    padding: 10px 20px;
    
   
}

.btn-explor:hover {
    background: linear-gradient(270deg, #ff0000 0%, #ff7c25 100%);
    border-radius: 10px;
  
   
    
}

.rating-div {
    position: absolute;
    bottom: -20px;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 7px 50px rgba(19, 18, 18, 0.06);
    border-radius: 10px;
    width: 150px;
    height: 80px;
}